/* a {
    color: #4e6f7a;
} */

#main-header {
    height: 50px;
    background-color: #0E3746;
    color: #fff;
}



.ContentPopup {
    margin: 5px 0px;
}

.ant-popover-content .ant-popover-inner {
    padding: 10px;
    border-radius: 0px;
    margin-top: 3px;
}

.ant-dropdown .ant-dropdown-menu{
    border-radius: 0px;
    margin-top: 12px;
    background-color: #F4F2EC;
}




